.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
    justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: 0.6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 1ps solid #000;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following {
    border: 1px solid red;
}

.tw-followCard-button:hover {
    background-color: #9d9d9d;
}

.tw-followCard-button:hover.is-following:hover {
    background-color: red;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #222;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 8px;
}